@charset "utf-8";
/* CSS Document */

.header-container{
background:url(../images/black-dot.jpg) repeat-x bottom #96e1d9;	
} 
.body-container{
background : #deeded;
} 
.footer-container{
background : #96e1d9;
bottom : 0px;
}

.header, .footer, .main {
width : 1024px;
margin : 0px auto;
background : inherit;
padding : 20px;
}
.footer{
	bottom: 0px;
}

button p{
font-size : 16px;
font-weight : 600;
}

.areaText:hover, .areaText:active{
border : none;
}
#notTransliterated, #transliterated{
width : 500px;
height : 300px;
border : 1px solid #000;
background : white;
}
#notTransliterated{
float : left;	
}
#transliterated{
float : right;
}

#notTransliteratedTextArea, #transliteratedTextArea{
padding : 20px; 
width : 458px;
height : 258px;
border : 1px solid #000;
background : white;
white-space : pre-wrap;
font-size : 20px;
}


