@media only screen and (max-width:768px){
html,body{
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
	width: 100%;
}
	body{
		width: 100%;
	}
	.head-top,.body-content,.foot-top,.foot-bottom{
		width: 100%;

	}
	.head-top ul{
		display: none;
	}

	.head-top ul li .search{
		display: block;
	}
	.header-bottom-wrapper{
		display: none;
	}
	.picture-slide{
		width: 100%;
	}
	.slider{
		width:100%;
		height:100%;
	}
	.description{
		width: 100%;
		float: none;
	}
	.project-detail{
		display: block;
		width: 50%;
		float: none;
		padding-top: 20px;
	}
	.project-detail ul li{
		width: 100%;
	}
	.project-detail ul li span{
		width: 50%;
	}
	.picture-display{
		//display: none;
	}
	.picture-display{
		width: 100%;
		//margin-right: 2.54610em;
	}
.img-left,.img-right{
	margin-top: 10.16667em;
}
.block-left,.block-right{
	width: 100%;
}

.block-left-left,.block-left-right,.block-right-left,.block-right-right{
	width:50%;
	}
.block-right-left,.block-right-right{float: left;margin-left: 0px;}
	.overlay{
		display: none;
	}
.mountains{
	width:50%;
	height:auto;
}
.footer-container{
	width:100%;
}
.foot-one,.foot-four{
	width: 100%;
	margin-right:none; 
}
.foot-three,.foot-two{
	width:50%;

	background-color: #76c7c0;
}

.foot-four{
display: none;
}

}