@charset "utf-8";
/* CSS Document */
.container-wrapper{
	min-width:1002px;
	}
	
.header-top{
	background-color:#7dd9e8;
	}
.header-top-container{
	width:938px;
	margin:0 auto;
	background:inherit;
	padding: 0px 10px 0px 10px;
	}
.header-bottom-container{
	width:938px;
	margin:0 auto;
	background:inherit;	
	padding: 0px 10px 0px 10px;
	}
	
.body-container{
	width:938px;
	margin:0 auto;
	background:inherit;
	padding: 0px 10px 0px 10px;
	}
.col3-left{
	background-image:url(../images/body-background.jpg);
	margin:30px 0px;}
.col3-left-column{
	width:194px;
	float:left;}
.col3-middle-column{
	width:518px;
	float:left;
	}
.image-description{
	width:428px;
	float:right;
	font:14px;
	padding: 0px 0px 0px 10px;}

.col3-right-column{
	width:176px;
	float:right;
}
	
	
	
.footer-container{
	background-color:#727272;
	right: 0;bottom: 0;
  	left: 0;}
.footer-content{
	margin:0 auto;
	width:938px;
	color:#fff;
	font-size:8px;
	padding:18px 10px;
	background:inherit;
	}	
.footer-left{
	float:left;
	}

.footer-right{
	float:right;}