@media only screen and (max-width:360px){
html,body{
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
	width: 100%;
}
	body{
		width: 100%;
	}
	.header-top-container,.header-bottom-container,.footer-container,.body-container{
		width:100%;
	}




	.col3-left-column{width:50%}
	.col3-left{background:white;}
	.search-bar,.tabs,.header-bottom-container,.col3-right-column{display: none;}
	.body-container{width:100%;}
	.body-container,.col3-middle-column{padding: unset;}
	.col3-left{padding-left: unset;}
	.col3-right{
		width:100%;
		padding:0px;
		padding-top:10px;}






	.image-description{
		float:left;
		padding-left: 10px;
	}
	.body-set img{
		float:left;
	}

	.image-frame{
		float: left;

	}
	.div1, .div2{
		background:#f5f5f5;
	}
	.footer-right{
		display:block;
		float:none;
		}
}