@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
body{
	font-family:Arial, Helvetica, sans-serif;}