@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 375px) {

.header-bottom{
	display: none;
}
.search-bar{
	display:block;
	float:none;
	padding: 0px;
	margin: 0px;
	margin-left: -30px;

}
.col3-left{
	background: white;width:100%;
}
.body-container{
	width: 100%;
}
.col3-left{}
.col3-right-column{
	display:none;
}
.header-top-container{width:100%;  }
.header-top-container img{
	width:223px;
	float:none;
}
.col3-middle-column{
	padding-left: 0px;
}

.col3-left-column{display: none;}
.col3-right{width: 100%;}
.col3-middle-column{width:100%; }
.body-content{
	padding-left: none;
}
.image-description{
	float: none;
	padding-left: 16px;
}
.body-set img{
	//float:none;
}
.tabs{
	display:none;
}
.header-nav{
	display:none;
}
.image-description ul li{
	padding:0 6px;
	padding-left:14px;
}
.footer-container{
	display:none;
	}

}