


.header-top-wrapper{
	background:url(../images/blue-top.jpg);
}
.head-top{
	width: 1170px;
	margin: 0 auto;
	background:inherit;
	padding: 0 10px;
}
.header-bottom-wrapper{
	background:url(../images/grey-top.jpg);
}
.head-bottom{
	width: 1170px;
	margin: 0 auto;
	background:inherit;
	padding: 0 10px;
}
.body-wrapper{
	background:#f3f3f3;
}
.body-content{
	width: 1170px;
	margin: 0 auto;
	background:inherit;
	padding: 0 10px;
}
.picture-detail{
	padding: 30px 0px;
}
.description{
	width:770px;
	padding-right: 30px;
	float:left;
}
.project-detail{
	width: 270px;
	padding-right: 0px;
	float:right;
}

.footer-container{
	background-color:#727272;
	right: 0;bottom: 0;
  	left: 0;}
.footer-top-wrapper{
	background:url(../images/footer.jpg);
}
.foot-top{
	width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	line-height: 22px;
	background:inherit;
	padding: 0 10px;
}
.foot-one{
	width:370px;
	padding-right: 30px;
	float: left;
}
.foot-two{
	width: 200px;
	float: left;
}
.foot-three{
	width: 200px;
	float: left;
}
.foot-four{
	width: 330px;
	padding-right: 40px;
	float: left;
}
.footer-bottom-wrapper{
	background:url(../images/foot-bottom.jpg);
}
.foot-bottom{
	width: 1170px;
	margin: 0 auto;
	background:inherit;
	padding: 0 10px;
}